// out: custom.css, compress: true, strictMath: false

@import "style.less";
@import "less/dark.less";
@import "dark-custom.less";

@screen-sm-min : 768px;
@screen-md-min : 992px;
@screen-lg-min : 1200px;

@theme-color: #18367e;
@dark-bg-color: desaturate(@theme-color, 20%); 
@dark-bg-color-darker: darken(@theme-color, 10%); 

@summer-color : #e68019;


.button-blue {
    background-color: @theme-color;
}

#content {
    background-color: @theme-color;
}
.theme-color, .sell{
    color: @theme-color;
}
.sell-light {
    background-color: lighten(@theme-color, 50%);
}
.sell-lighter {
    background-color: lighten(@theme-color, 65%);
}

.summer {
    color: @summer-color;
}

.summer-light {
    background-color: lighten(@summer-color, 35%);
}
.summer-lighter {
    background-color: lighten(@summer-color, 40%);
}

.leftmargin-xs {
    margin-left: 15px;
}
.rightmargin-xs {
    margin-right: 15px;
}

.tjustify {
    text-align: justify;
}

.nofloat {
    float: mone;
}

.fullwidth {
    width: 100%;
}

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: @screen-sm-min) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: @screen-md-min) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: @screen-lg-min) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}


.divider {
    &.divider-dark {
        color: @theme-color;
        &:after,
        &:before
        {
            content: '';
            border-top: 1px solid @theme-color;
        }
        &.divider-border {

            i {
                border: 1px solid @theme-color;
            }
        }
    }
    &.divider-darker {
        color: lighten(@theme-color, 45%);
        &:after,
        &:before
        {
            content: '';
            border-top: 1px solid lighten(@theme-color, 45%);
        }
        &.divider-border {

            i {
                border: 1px solid lighten(@theme-color, 45%);
            }
        }
    }
}

.lang-switcher img {
    position: relative;
    top: -1px;
}

.lang-switcher ul { width: 140px !important; }

.lang-switcher ul img { margin-right: 8px; }

#header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  lighten(#18367e, 5) 0%, lighten(#18367e, 30) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  lighten(#18367e, 5) 0%,lighten(#18367e, 30) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  lighten(#18367e, 5) 0%,lighten(#18367e, 30) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}